<div class="card login-form">
  <h3 class="card-header">Signup Form</h3>
  <form id="signup-form" class="card-body">

    <div class="container">
      <label class="form-label" for="email">Email</label>
      <input
        id="email-signup"
        type="text"
        placeholder="Enter email"
        autofocus="true"
        class="form-input"
      />

      <label class="form-label" for="username-login">Username</label>
      <input
        id="username-signup"
        type="text"
        placeholder="Enter Username"
        autofocus="true"
        class="form-input"
      />

      <label class="form-label" for="password-login">Password</label>
      <input
        id="password-signup"
        type="password"
        placeholder="Enter Password"
        autofocus="true"
        class="form-input"
      />
    </div>
   
 <button type="submit" class="button btn-primary">Sign Up</button>

    {{!-- <div class="signup">
      <a href="/login">Sign Up</a>
    </div> --}}
  </form>
</div>
<script src="/js/signup.js"></script>