
button {
  background-color: #080808;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}
h1, p{
  margin: 0, 30px;
}

.card {
  text-align: center;
  width: 100%;
  margin: 50px 25px;
  font-size: 20px;
  display: flex;
}

.upload-img{
  display: block;
  width: 50%;
}

.card-header{
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h3 {
  color: #080808 !important;
}

.container {
  padding: 16px;
}
form {
  border: 3px solid #f1f1f1;
}

.login-form{
  width: 50%;
}

.form-label {
  font-size: 20px;
}

a{
  text-decoration: none;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#icon {
  color: black;
}

#techblog-header {
  background-image: linear-gradient(
    to bottom right,
    rgb(0, 0, 0),
    rgb(9, 9, 9),
    white
  );
  color: rgb(255, 255, 255);
}

#homepage-title {
  font-size: 30px;
  color: #000000;
}

#body-color {
  background-image: linear-gradient(to bottom right, white, white);
}

#post-card {
  background-color: #d4d4d4;
  text-decoration: none !important;
}

#create-button {
  height: 50px;
}
#profile-posts {
  margin-top: -5%;
}
@media (max-width: 576px) {
  .header, h3{
    text-align: center;
  }

  .navbar{
    display: flex;
    text-align: center;
  }

  .login-form{
    display: flex;
    width: 100%;
  }
}